.container{
  display: flex;
  justify-self: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.card{
  display: flex;
  flex-direction: row;
  margin: 1% 5% 1% 5%;
}
.cardText{
 display: flex;
 flex-direction: column;
}
.episodes{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin-left: 45%;
  margin-top: 3%;
  margin-bottom: 3%;
}
.buttonContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.pageText{
  margin-left: 5px;
  margin-right: 5px;
}